.centered {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.background {
  background-color: #7F4F24;
  align-items: center;
  height: 200px;
  width: 300px;
  opacity: .9;
  color: #FFF;
  border-color: "#FFFCE2";
  border-radius: 12px;
  padding-top: 10px;
}


button#submit-button {
  background-color: #333D29;
  opacity: ".8";
  color: #FFFCE2;
  border-color: #FFFCE2;
  
}

#submit-button:hover {
background-color: #582F0E;
opacity: .8;
color: #FFFCE2;
border-color: #FFFCE2;
}

.please-log-in {
  color: #582F0E;
  
}