/* .background {
  background-color: (33,37,41);

} */

.list-group-default {
    list-style-type: none;
    font-size: .5rem;
    background-color: #656D4A; 
    border-color: #656D4A;
    opacity: "85%" ;
    padding-bottom: 0;
    max-height: 600px;
    max-width: 500px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.button-styling {
font-display: 100;
background-color: #333D29;
font-size: 12px;
opacity: ".8";
color: "white";
border-color: #FFFCE2;
}
