/* .background {
  background-color: (33,37,41);

} */

.list-group {
    list-style-type: none;
    font-size: .8rem;
    background-color: "#212529"; 
    opacity: "85%" ;
    padding-left: 30px;
    max-height: 600px;
    max-width: 500px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
