/* .background {
  background-color: (33,37,41);

} */

.list-group-default {
    list-style-type: none;
    font-size: .5rem;
    background-color: #212529; 
    opacity: "85%" ;
    padding-left: 0px;
    max-height: 600px;
    max-width: 500px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.button-styling {
font-display: 100;
background-color: #333D29;
font-size: 12;
opacity: ".8";
color: "white";
border-color: #FFFCE2;
}